.form {
  display: flexbox;
  background-color: rgb(149, 4, 27);
  display: flex;
  flex-direction: column;
  margin: 0 300px 100px 300px;
  padding: 80px;
  border-radius: 60px;
  gap: 20px;
  color: rgb(254, 203, 42);
}

.header {
  text-align: center;
}

.button {
  background-color: rgb(254, 203, 42);
  color: rgb(28, 53, 84);
  width: 400px;
  height: 60px;
  border-radius: 80px;
  margin: 0 auto;
  font-weight: 900;
  border: none;
}

.teat_area {
  border-radius: 80px;
  padding-left: 20px;
  align-content: center;
  font-weight: lighter;
}
