.topic_area {
  display: flex;
  justify-content: space-between;

}

.main_post_area{
    background-color: rgb(250,244,196);
     width: 100%;
}

.post{
    background-color: rgb(255,255,255);
    padding: 10px;

}
.post_main{
    display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .post_main {
    float: none;
    display: block;
    text-align: center;
  }


}