@import "react-slideshow-image/dist/styles.css";

.slide-container{
    width: 100%;
}

.enroll_link{
    width: 600px;
    font-size: 25px;
    padding-top: 30px;
}

.enroll_link a{
    color: rgb(255,245,0);
    text-decoration: none;


}