.redcolor{
    color: rgb(246,19,28);

}

.enroll_link{
    background-color: rgb(151,3,22);
    align-items: center;
    justify-content: center;
    text-align: center;
    color:rgb(255,245,0) ;
    padding:  20px 20px 20px 20px;

    border-radius: 0 0 80px 80px;
}


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
