.footer_topic{
    background-color:rgb(2,25,52);
    color: white;
    margin-top: 20px;
    width: 100%;
}

.footer_mainlink a{
    text-decoration: none;
    color: white;

}
h6{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.solid{
    font-weight: lighter;
}


@media screen and (max-width: 900px) {
  .footer_topic {
    float: none;
    display: block;
    text-align: center;
  }


}